.navbarContainer {
  background-color: #8f8f8f;
  padding: 15px;
}

.containerNavbar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #8f8f8f;
  align-items: center;
  padding: 10px;
  position: relative;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.categories .links {
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  color: black; 
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown {
  position: relative;
  list-style: none;
}

.categories .links {
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  display: flex;
  justify-content: center;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: #8f8f8f;
  border-radius: 4px;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  list-style: none;
  transform-origin: top center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.dropdown-content.active {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-content li {
  margin: 5px 0;
}

.dropdown-content li a {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: block;
}

.dropdown-content li a:hover {
  background-color: #8f8f8f;
}

.categories .links.perifericos-link::after {
  content: "▼";
  margin-left: 5px;
  font-size: 16px;
}

.categories .links.perifericos-link.active::after {
  content: "▶";
}

.hamburgerButton {
  display: none;
}

@media screen and (max-width: 768px) {

  .categories {
    display: none;
  }

  .categories.is-open {
    display: flex;
    flex-direction: column;
  }

  .containerNavbar h4 {
    display: block;
    width: 100%;
  }

  .hamburgerButton {
    display: block;
    border: none;
    cursor: pointer;
  }

  .menuBox {
    background-color: #8f8f8f;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 2;
  }

  .menuBox ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
  }

  .menuBox .links {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease;
  }

  .menuBox .links.perifericos-link::after {
    content: "▶";
    margin-left: 5px;
    font-size: 16px;
  }

} 