.agregarCarrito {
    display: flex;
    margin: 15px;
    align-items: center; 
    background-color: gray; 
    color: white;
    padding: 10px 30px;
    font-size: 17px;
    border-radius: 25px;
    border: none;
    cursor: pointer
}

.addProduct {
    background-color: gray;
    color: white;
    width: 35px;
    height: 35px;
    padding:5px;
    border-radius: 25px; 
    border: none; 
    cursor: pointer
}

.restButton {
    width: 35px;
    height: 35px;
    background-color: gray;
    color: white;
    padding:5px;
    border-radius: 25px; 
    border: none; 
    cursor: pointer
}